.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.home_header{
display: flex;
justify-content: space-between;
padding: 20px 30px;
align-items: center;
}
.home_header a{
margin-right: 20px;
text-decoration: inherit;
color: rgba(0,0,0,0.87);
font-size: 15px;
}
.home_header a:hover{
    text-decoration: underline;
}
.home_headerRight{
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}
.home_headerRight > .MuiSvgIcon-root{
    margin-right: 20px;
}
.home_body{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home_body > .body_image{
    object-fit: contain;
    height: 100px;
}
.home_body > .body_image >h1{
    margin-top: -10rem;
    letter-spacing: 5px;
    font-size: 4rem;
    font-family: arial;
    color:#2e86de ;
}
